@import url('https://fonts.cdnfonts.com/css/old-english-five');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    background: #3b2907ab;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 75px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo{
    font-size: 32px;
    font-family: 'Old English Five', sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.nav-bar a{
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 55px;
}

.nav-bar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 5%;
    background: #000;
}

.nav-bar a:hover:before{
    width: 100%;
    transition: 0.5s;
}



   /* For at style min dropdown-container skriver jeg følgende kode for at  */
   .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 16px 0;
    text-decoration: none;
    display: block;
  }


  .dropdown:hover .dropdown-content {
    display: block;
  }

  .burger-btn{
    display: none;
  }


  /* Her skriver jeg min css-code for at style de tre forskellige øl*/

.beer{
    position: absolute;
    top: 11%;
    left: 18%;
    width: 65%;
    height: 1200px;
    background: #fff;
}

.p1{
    position: absolute;
    top: 8%;
    left: 57.2%;
    font-weight: 600;
    color: rgb(187, 135, 47);
}

.p2{
    position: absolute;
    top: 40%;
    left: 57.2%;
    font-weight: 600;
    color: rgb(187, 135, 47);
}

.p3{
    position: absolute;
    top: 72%;
    left: 57.2%;
    font-weight: 600;
    color: rgb(187, 135, 47);
}

#beer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 230px;
}

#beer1 p{
    width: 200px;
    color: #757575;
}

#beer1 img{
    width: 300px;
    transform: rotate(90deg);
}

.beer h1{
    position: absolute;
    top: 2%;
    left: 33%; 
    font-size: 30px;  
    color: rgb(122, 80, 18); 
}


#beer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}

#beer2 p{
    width: 200px;
    color: #757575;
}

.beer h2{
    position: absolute;
    top: 33%;
    left: 33%; 
    font-size: 30px;
    color: rgb(122, 80, 18);    
}

#beer2 img{
    width: 300px;
    transform: rotate(90deg);
}



#beer3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 230px;
}

#beer3 p{
    width: 200px;
    color: #757575;
}

.beer h3{
    position: absolute;
    top: 65%;
    left: 33%; 
    font-size: 30px; 
    color: rgb(122, 80, 18);   
}

#beer3 img{
    width: 300px;
    transform: rotate(90deg);
}

/* Her begynder jeg at konstruere min animation */

.animation-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
    z-index: 1;
}

.bottle1,
.bottle2 {
    flex-direction: row;
}

.bottle1{
    display: flex;
    justify-content: flex-start;

}

.bottle2{
    display: flex;
    justify-content: flex-end;
}

.bottle1 img,
.bottle2 img {
    width: 50px;
    height: auto;
    animation: beerbottle 11s linear infinite;
}

/* Nu kan jeg bruge "keyframes" til at "transform" positionen af mit img */

@keyframes beerbottle {
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    70%{
        opacity: 1;
    }

    100%{
        transform: translateY(150vh);
        opacity: 0;
    }

}

/* For at tilføje lidt variation til min animation tilføjer jeg et "delay" samt ændrer på "width" */

.bottle1 img:nth-child(1){
    animation-delay: 7s;
}
.bottle1 img:nth-child(2){
    animation-delay: 2s;
}
.bottle1 img:nth-child(3){
    animation-delay: 5s;
}


.bottle2 img:nth-child(1){
    animation-delay: 3s;
}
.bottle2 img:nth-child(2){
    animation-delay: 8s;
}
.bottle2 img:nth-child(3){
    animation-delay: 5s;
}

.footer{
    padding: 25px;
    background-color: rgb(170, 155, 128);
    position: absolute;
    bottom: -91%;
    width: 100%;
}

.footer, .social{
    text-align: center;
    padding-bottom: 25px;
    color: #000;
}

.social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.3;
    transition: 0.25s;
}

.social a:hover{
    opacity: 1;
}

.footer h1{
    font-size: 50px;
    padding-bottom: 20px;
    transition: 0.5s;
}

.footer h1:hover{
    opacity: 1;
}


.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.3;
    transition: 0.5s;
}

.footer ul li a:hover{
    opacity: 1;
}


.footer, .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 15px 20px;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .nav-bar.active {
        display: flex;
    }

    .nav-bar a {
        padding: 15px;
    }

    .burger-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .beer {
        width: 100%;
        height: auto;
        left: 0;
        padding-top: 20px;
    }

    .p1 {
        left: 65%;
        top: 8%;
    }

    .p2 {
        left: 65%;
        top: 41.5%;
    }

    .p3 {
        left: 65%;
        top: 74%;
    }


    #beer1, #beer2, #beer3 {
        padding: 82px 15px;
    }

    #beer1 p, #beer2 p, #beer3 p {
        width: 100%;
    }

    .beer h1, .beer h2, .beer h3 {
        font-size: 20px; 
        left: 50%;
        transform: translateX(-50%);
    }

    .bottle1 img,
    .bottle2 img {
        width: 50px;
        height: auto;
        animation: beerbottle 0s linear infinite;
}



}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .header {
        padding: 15px 20px;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .nav-bar.active {
        display: flex;
    }

    .nav-bar a {
        padding: 15px;
    }

    .burger-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .beer {
        width: 70%;
        height: auto;
        left: 15%;
        padding-top: 45px;
    }

    .p1 {
        left: 40%;
        top: 5%;
        
    }

    .p2 {
        left: 40%;
        top: 36%;
    }

    .p3 {
        left: 40%;
        top: 68.5%;
    }


    #beer1, #beer2, #beer3 {
        padding: 82px 15px;
    }

    #beer1 p, #beer2 p, #beer3 p {
        width: 100%;
    }

    .beer h1, .beer h2, .beer h3 {
        font-size: 20px; 
        left: 50%;
        transform: translateX(-50%);
    }

    .bottle1 img,
    .bottle2 img {
        width: 50px;
        height: auto;
        animation: beerbottle 0s linear infinite;
}
    .footer{
        bottom: -140%;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1350px) {
    .header {
        padding: 15px 20px;
    }

    .nav-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .nav-bar.active {
        display: flex;
    }

    .nav-bar a {
        padding: 15px;
    }

    .burger-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .beer {
        width: 70%;
        height: auto;
        left: 15%;
        padding-top: 45px;
    }

    .p1 {
        left: 50%;
        top: 13%;
        
    }

    .p2 {
        left: 50%;
        top: 46%;
    }

    .p3 {
        left: 50%;
        top: 78%;
    }

    #beer1, #beer2, #beer3 {
        padding: 100px 50px;
    }

    #beer1 img, #beer2 img, #beer3 img{
        width: 50%;
    }

    #beer1 p, #beer2 p, #beer3 p {
        width: 100%;
    }

    .beer h1, .beer h2, .beer h3 {
        font-size: 30px;
    }

    .bottle1 img,
    .bottle2 img {
        width: 50px;
        height: auto;
        animation: beerbottle 0s linear infinite;
}

    .footer{
        bottom: -140%;
    }
}